* {
  box-sizing: border-box;
}

.img {
  width: 100%;
}

header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 2em;
  background-color: transparent;
}
.your{
  color: gray;
  padding:10px;
}
.home{
  color: gray;
  padding:10px;
}
.pricing{
  color: rgb(43, 43, 43);
  padding:10px;
}
.contact{
  color: gray;
  padding:10px;
}
.pcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 30em;
  background: url(background.jpg);
  }

.ptext1 {
  flex-wrap: nowrap;
  height: 200px;
}

.ptext2 {
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

h2 {
  width: 100%;
  color: white;
  font-size: 40px;
  text-shadow: black 1px 1px;
}

#a1{
  background: url(assests/background.jpg);
  width: 100%;
  margin: 0;
  height: 20em;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
